video, audio {
    width: 100%;
}

.navmenu {
    border-radius: 0 !important;
}

video {
    width: 100%;
    max-width: 1098px;
    border-radius: 3px;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main.container {
    margin-top: 7em;
    flex: 1;
  }

.ui.footer.segment {
    margin: 5em 0 0;
    padding: 1em 0;
  }

.truncate {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.ui.positive.message a {
    float: right;
}

.thumbnail {
    width: 100%;
    max-width: 320px;
}

.listbox {
    display: inline-block;
    margin-top: 0.25rem;
}

.float-left {
    float: left;
}

.contact-links {
    text-align: center; 
    margin: 0 3%; 
    z-index: 3; 
    padding: 0; 
    height: 32px; 
    width: 100%;
}
.contact-link {
    display: inline; 
    list-style-type: none;
}

.contact-link i, .license {
    color: #fff;
}

.version {
    color: #fff;
}

#playerbox {
    max-height: 360px;
    overflow-y: scroll;
}


/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }

    .nomobile {
        display: none !important;
    }
   span.icon {display:inline-block}
   span.text {display:none}
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
        display: none !important;
    }
    span.icon {display:none}
    span.text {display:inline-block}
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="mobile only"]:not(.computer),
    [class*="tablet only"]:not(.computer),
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="widescreen only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
        display: none !important;
    }
    span.icon {display:none}
    span.text {display:inline-block}
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]:not([class*="large screen"]),
    [class*="tablet only"]:not([class*="large screen"]),
    [class*="computer only"]:not([class*="large screen"]),
    [class*="large screen hidden"],
    [class*="widescreen only"]:not([class*="large screen"]),
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
        display: none !important;
    }
    span.icon {display:none}
    span.text {display:inline-block}
}


/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
    [class*="mobile only"]:not([class*="widescreen"]),
    [class*="tablet only"]:not([class*="widescreen"]),
    [class*="computer only"]:not([class*="widescreen"]),
    [class*="large screen only"]:not([class*="widescreen"]),
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
        display: none !important;
    }
    span.icon {display:none}
    span.text {display:inline-block}
}

