{{template "header.html" .}}

<div class="ui container">
    <h2 class="ui header">Login</h2>

    <form class="ui small form" action="/streamlist/login" method="POST">
        <div class="fields">
            <div class="eight wide field">
                <input type="text" name="user" placeholder="Username" autofocus="autofocus" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <input type="password" name="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <button class="ui button" type="submit" value="Login">Login</button>
            </div>
        </div>
    </form>

</div>

{{template "footer.html" .}}
