{{template "header.html" .}}

<div class="ui main container">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid stackable">
            <div id="login"  class="column">
        <h2 class="ui image header">
            <div class="content">
            Sign-in
            </div>
        </h2>
        <form id="signin" action="/streamlist/login" method="POST" class="ui small form">
            <div class="ui stacked secondary">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username" autofocus="autofocus" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" autocomplet="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>
                </div>
                <div class="field">
                    <input class="ui button" type="submit" value="Login" />
                </div>
            </div>

            <div class="ui error message"></div>
       </form>

        </div>
    </div>
   </div>
</div>

{{template "footer.html" .}}
